*.annot
*.cmo
*.cma
*.cmi
*.a
*.lib
*.o
*.obj
*.cmx
*.cmxs
*.cmxa
*.cds
*.exe
*.so
*.dll
/src/csml
/src/csml.cs
/src/csml_iface_generated.cs
/src/csml_ml_byt.cs
/src/csml_ml_opt.cs
/src/csml_std.cs
/src/csml_std.ml
examples/**/*_cs.ml
examples/**/*_ml_byt.cs
examples/**/*_ml_opt.cs
examples/**/*_csml.cs
examples/**/*_csml.ml
examples/winforms/winforms.cs
examples/winforms/winforms.ml
examples/winforms/winforms_test_stub.cs
examples/winforms/winforms_test_stub.ml
